<label>Name:</label>
<%= @ms_member.name %>

<label>Age:</label>
<%= @ms_member.age %>

<label>Address:</label>
<%= @ms_member.address %>

<label>Phone:</label>
<%= @ms_member.phone %>

<label>Age:</label>
<%= @ms_member.phone %>